* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}


html, body {
  max-width: 1200px;
  margin: 0 auto;
  height:100vh;
  min-height: 100%;
}

.li_1 {
 
  background-color: red;

}


 #gridcontainer{
 
  
   display:grid;
    width: 100%;
    height:100vh;
   grid-template-columns: minmax(250px, 1fr);
   grid-template-rows: auto 1fr auto;
   grid-template-areas: 
   'header'
   'main'
   'footer';

 }

 #gridcontainer > header{
  grid-area: header;
  
}



header{
  background-color:black;
  height:100%;
  width: 100%;
}

.ul-nav{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
   padding:0;
   margin:0;
  width:100%;
  }
 
  .li_header {
   padding: 1%;
   display: flex;
   align-items: center;
 }
 
 .nav-link {
   display: inline-block;
   padding: 10px 15px; 
   text-decoration: none;
   color: white;
   background-color: transparent;
 }

footer{
  height:auto;
  width: 100%;;
  background-color: rgb(107, 131, 151);
  display:flex;
  flex-direction: row;
  justify-content: flex-start;

}

.footer_text{
  margin-right:5%;


}

.main_container{
  width:100%;
  height:100%;
}


.form_container{

  
  width: 60%;
  height:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10%;
  
}


.bt_submit{
  width: 30%;
  margin-top: 8%;
  height:auto;
  background-color: rgb(145, 226, 226);
  border:none;
  padding: 2%;
  border-radius:3%;
  

}

.input_field{
   margin-bottom:3%;
   

}

.button_container{
  display: flex; 
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;

}

footer{
  height:100%;
  width: 100%;;
  background-color: rgb(191, 199, 206);
  display:flex;
  flex-direction: row;
  justify-content: flex-start;

}

.footer_text{
  margin-right:5%;
  padding:1%;

}
