@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Smooch+Sans:wght@100..900&display=swap');
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html, body {
  max-width: 1200px;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content:Center;
  height:100vh;
 
  min-height: 100%;
 
 
 }
 
 #container{
 
   height:100%;
   width:100%;
  
   display:grid;
   max-height: 100vh;
   grid-template-columns: auto-fit, minmax(250px, 1fr);
   grid-template-rows: auto 1fr auto;
   grid-template-areas: 
   'header'
   'main'
   'footer';

 }

 #container > header{
   grid-area: header;
   

 }

 header{
  background-color:black;
  height:100%;
  width: 100%;
}

a{
  color:white;
}

.ul-nav{
 list-style-type: none;
 display:flex;
 flex-direction: row;
 justify-content: flex-start;
  padding:0;
  margin:0;
 width:100%;
 }

 .li_header {
  padding: 1%;
  display: flex;
  align-items: center;
}

.nav-link {
  display: inline-block;
  padding: 10px 15px; 
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.main_container{

  height:90%;
  width: 100%;

}

.top-container{
  display:flex;
  flex-direction: row;
  width: 100%;
  height:48%;


}

.sec-profilebild{
    margin-left: 2%;
    margin-top:2%;
    width: 50%;
    height: 98%;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    text-align: center;
    display:flex;
    
    
}


.img-profilebild{
    max-width:50%;
    height:80%;
    border-radius: 8%;
    margin-top:4%;
    margin-left:30%;
    justify-content: center;

}

.section-cv {
  margin-right: 1%;
  width: 50%;
  height:98%;
  background-color: rgb(179, 179, 179);
  margin-top:2%;
  margin-left: 2%;

}

.resume_a{
  display:flex;
  justify-items: center;
  align-items: center;
}

.icon_resume{
  height:22%;
  width:14%;
  margin:auto;
}

.cv-description{
 
  top:10%;
  font-family: "Anton", serif;
  font-style: normal;
  font-size: 1rem;
  padding:2%;
}

.smooch-sans-text {
  font-family: "Smooch Sans", serif;
  font-optical-sizing: 100%;
  font-weight: 800;
  height:100%;
  font-size:2em;
  font-style: bold;
  margin-top:0%;
  margin-bottom:0%;
  margin-left:3%
}


   
  .projectTitle{
    width:10%;
    height:5%;
    margin-top:3%;
    margin-left:1%;

    }


.project{
  padding:1%;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.bottom_container{
  margin-right:2%;
  display: flex;
  justify-content: center;
  width: 100%;
  height:50%;

}

.project-section{
 
 display:grid;
 grid-template-columns: repeat(4,1fr);
 grid-template-rows: auto;
 margin:2%;

 grid-auto-rows: auto;
 width: 100%;

}

.project_header{
  margin:2%;
  text-align: center;

}

.image_for_project_1 {
  bottom:4%;
  max-width: 80%;
  height: auto;
  margin:auto;
}

.image_for_project_2{
  bottom:4%;
  max-width: 50%;
  height: auto;
  margin:auto;
}

.project1{
  width:90%;
  height:140%;
  background-color: aqua;
}
.project2{
  width:90%;
  height:140%;
  background-color: blueviolet;
}


.bt-link{

  border:none;
  background-color: black;
  text-align: center;
  color:white;
  height:8%;
  width:30%;
  margin-left:12%;
  margin-bottom:3%;
  margin-top: auto;
  margin-right:auto;
}

footer{
  height:100%;
  width: 100%;;
  background-color: rgb(191, 199, 206);
  display:flex;
  flex-direction: row;
  justify-content: flex-start;

}

.footer_text{
  margin-right:5%;


}

.li_1 {
 
  background-color: red;

}


@media screen and (max-width: 725px) {

  .sec-profilebild{
    margin-left: 2%;
    margin-top:2%;
    width: 100%;
    height: 50%;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    text-align: center;
    display:flex;
    
    
    
}

.section-cv {
  margin-right: 1%;
  width: 100%;
  height:50%;
  background-color: rgb(179, 179, 179);
  margin-top:2%;
  margin-left: 2%;
  display:flex;
  flex-direction: column;
  justify-items: center;
  
}

.img-profilebild{
  max-width:30%;
  height:80%;
  border-radius: 8%;

 }
 
  .project-section{
 
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    margin:2%;
    gap:5%;
    grid-auto-rows: auto;
    width: 100%;
   
   }

   .top-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:48%;
  
  
  }

.name{
  width:85%;
}
  .cv-description{
 
    top:10%;
    font-family: "Anton", serif;
    font-style: normal;
    font-size: 0.8rem;
    padding:2%;
  }
  .project1{
    width:90%;
    height:105%;
    background-color: aqua;
  }
  .project2{

    width:90%;
    height:105%;
    background-color: blueviolet;
  }
  

}