@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');



*{
  box-sizing: border-box;
}


html,body,main{
 height:100%;
 overflow: none;
 margin:0;
}



a{
  color:white;
}


.ul-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
 display: flex;

}

.top-nav{
  background-color: black;
  border:3px solid black;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.li-nav{
  
  margin:1%;

}

.above-section{

  display: flex;
  margin: 1%;
  height:40%;

}


.profilebild{
  width:50% ;
  height:100%;
  background-color: red;
  margin-right:2%;

}

.cv{
  width:50%;
  height:100%;
  background-color: rgb(228, 228, 228);

}



.smooch-sans-text {
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 45px;
  font-style: bold;
  margin-top:0%;
  margin-bottom:0%;
  margin-left:3%
}

.project-section{
 display: flex;
 width: 100%;
 height: 100%;
 margin: 1%;
}

.project1{
  background-color: aqua;
  width: 25%;
  height: 40%;
  margin-right:2%;
}

.project2{
  background-color: rgb(128, 72, 202);
  width:25%;
  height: 40%;
  margin-right:2%;
}

footer{
  width:100%;
  display: flex;
  background-color: rgb(236, 236, 236);

}

.email-icon{
  width: 15%;

}

.github-icon{
  width: 20%;

  
}

.linkedin-icon{
  width: 15%;
  
}

a{
  padding-left: 1%;
  font-size: 100%;
  color:black;
  

}
.footer-div{
  display:flex;
  width:100%;
  padding:1%;
  align-items: center;      /* 縦方向に中央揃え */
  text-align: center; 
  justify-content: center;

}
