@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Smooch+Sans:wght@100..900&display=swap');

*{
  box-sizing: border-box;
}


html,body,main{
 height:100%;
 margin:0;
}


body {

  display: flex;
  flex-direction: column;
  
}


.top-nav a {
  color: white;
  text-decoration: none;
}

.ul-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
 display: flex;

}

.top-nav{
  background-color: black;
  border:3px solid black;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.li-nav{
  
  margin:1%;

}

.above-section{

  display: flex;
  margin: 1%;
  height:40%;

}


.sec-profilebild{
  display:flex;
  width:50% ;
  height:100%;
  background-color: red;
  margin-right:2%;
  justify-content: left;


}


.cv{
  width:50%;
  height:100%;
  background-color: rgb(228, 228, 228);

}



.smooch-sans-text {
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 45px;
  font-style: bold;
  margin-top:0%;
  margin-bottom:0%;
  margin-left:3%
}

.project-section{
 display: flex;
 width: 100%;
 height: 100%;
 margin: 1%;
}

.project1{
  background-color: aqua;
  width: 25%;
  height: 40%;
  margin-right:2%;
}

.project2{
  background-color: rgb(128, 72, 202);
  width:25%;
  height: 40%;
  margin-right:2%;
}

footer{
  width:100%;
  height: 65%;
  display: flex;
  background-color: rgb(236, 236, 236);

}

.email-icon{
  width: 8%;

}

.github-icon{
  width: 8%;

  
}

.linkedin-icon{
  width: 8%;
  
}

a{
  padding-left: 1%;
  font-size: 100%;
  color:black;
  white-space: nowrap;
  text-decoration: none;
  }

.footer-div{
  display:flex;
  width:100%;
  padding:1%;
  align-items: center;   
  text-align: center; 
  justify-content: center;

}

.container-name{
  display:flex;
  flex-direction: column; /* 垂直方向に配置 
  height: 100%; /* セクションの高さに合わせる */
  align-items: flex-start; /* 左寄せ */


}

.firstName,.lastName{
  margin:10%;
  font-family: "Anton", serif;
  font-optical-sizing: auto;
  font-size:4.5em;
}


.lastName{
  margin-left:35%;
 text-align: end;
 font-family: "Anton", serif;
 font-optical-sizing: auto;
 font-size: 4.5em;



}